<div align= "center">
<table><tr>
  <td>Patient name:</td>
  <td><%=h @bed_change.Patient_Name %></td>
  <td>Mr no:</td>
  <td><%=h @bed_change.MR_No %></td>
  <td>Floor:</td>
  <td><%=h @bed_change.floor %></td></tr>
  <tr><td>Ward:</td>
  <td><%=h @bed_change.ward %></td>
  <td>Room:</td>
  <td><%=h @bed_change.room %></td></tr>
  <tr><td>tbed:</td>
  <td><%=h @bed_change.bed %></td>
  <td>T floor:</td>
  <td><%=h @bed_change.T_Floor %></td></tr>
  <tr><td>T room:</td>
  <td><%=h @bed_change.T_Room %></td>
  <td>T ward:</td>
  <td><%=h @bed_change.T_Ward %></td></tr>
  <tr><td>T bed:</td>
  <td><%=h @bed_change.T_Bed %></td></tr>

</table></div>
<%= link_to 'back', bed_changes_path %></td></tr>
</table>