<p>
  <b>Mrno:</b>
  <%=h @opbilling.mr_no %>
</p>

<p>
  <b>Department:</b>
  <%=h @opbilling.department %>
</p>

<p>
  <b>Doctor:</b>
  <%=h @opbilling.doctor %>
</p>

<p>
  <b>Sno:</b>
  <%=h @opbilling.s_no %>
</p>

<p>
  <b>Testcode:</b>
  <%=h @opbilling.test_code %>
</p>

<p>
  <b>Testname:</b>
  <%=h @opbilling.test_name %>
</p>

<p>
  <b>Fee:</b>
  <%=h @opbilling.fee %>
</p>

<p>
  <b>Concession:</b>
  <%=h @opbilling.concession %>
</p>

<p>
  <b>Comments:</b>
  <%=h @opbilling.comments %>
</p>

<p>
  <b>Concession1:</b>
  <%=h @opbilling.concession1 %>
</p>

<p>
  <b>Cref:</b>
  <%=h @opbilling.c_ref %>
</p>

<p>
  <b>Gross:</b>
  <%=h @opbilling.gross %>
</p>

<p>
  <b>Due:</b>
  <%=h @opbilling.due %>
</p>

<p>
  <b>Dref:</b>
  <%=h @opbilling.d_ref %>
</p>


<%= link_to 'Edit', edit_opbilling_path(@opbilling) %> |
<%= link_to 'Back', opbillings_path %>