<h3>Details Of Record </h3>
<br /><br />
<div align="center">
  <table width="40%" cellspacing= "0" border="1" cellpadding="4">
<tr>
  <td>Item_level1_code</td>
  <td><%=h @inventorylevel3master.item_level1_code %></td>
</tr>

<tr>
  <td>Item_level2_code</td>
  <td><%=h @inventorylevel3master.item_level2_code %></td>
</tr>

<tr>
  <td>Item_level3_code</td>
  <td><%=h @inventorylevel3master.item_level3_code %></td>
</tr>

<tr>
  <td>Item_level3_name</td>
  <td><%=h @inventorylevel3master.item_level3_name %></td>
</tr>

<tr>
  <td>Status</td>
  <td><%=h @inventorylevel3master.status %></td>
</tr>
</table>
</div>
<br />
<%= link_to 'Back', inventorylevel3masters_path %>