<h3>Details of vendor</h3>
<br/>
<br/>
<div align="center" width="100%">
 <table width="20%"  cellspacing="0" border="1" cellpadding="4">
  
  <tr><td>
  <b>Vendor_code:</b></td>
  <td> 
  <%=h @vendormaster.vendor_code %>
</td>  <tr/>

<tr><td>
  <b>Vendor_name:</b></td>
  <td> 
  <%=h @vendormaster.vendor_name %>
</td>  <tr/>

<tr><td>
  <b>Vendor_tin_no:</b></td>
  <td> 
  <%=h @vendormaster.vendor_tin_no %>
</td>  <tr/>

<tr><td>
  <b>Vat_no:</b></td>
  <td> 
  <%=h @vendormaster.vat_no %>
</td>  <tr/>

<tr><td>
  <b>Address:</b></td>
  <td> 
  <%=h @vendormaster.address %>
</td>  <tr/>

<tr><td>
  <b>List_of_items_supplied:</b></td>
  <td> 
  <%=h @vendormaster.list_of_items_supplied %>
</td>  <tr/>

<tr><td>
  <b>Contact_person:</b></td>
  <td> 
  <%=h @vendormaster.contact_person %>
</td>  <tr/>

<tr><td>
  <b>Vendor_emailid:</b></td>
  <td> 
  <%=h @vendormaster.vendor_emailid %>
</td>  <tr/>

<tr><td>
  <b>Contact_num:</b></td>
  <td> 
  <%=h @vendormaster.contact_num %>
</td>  <tr/>

<tr><td>
  <b>Status:</b></td>
  <td> 
  <%=h @vendormaster.status %>
</td>  <tr/>
</table>
</div>

<%= link_to "Back", vendormasters_path %>