<p>
  <b>Registration no:</b>
  <%=h @gastroscopytest.registration_no %>
</p>

<p>
  <b>Billno:</b>
  <%=h @gastroscopytest.bill_no %>
</p>

<p>
  <b>Mrno:</b>
  <%=h @gastroscopytest.mr_no %>
</p>

<p>
  <b>Patientname:</b>
  <%=h @gastroscopytest.patient_name %>
</p>

<p>
  <b>Testdate:</b>
  <%=h @gastroscopytest.test_date %>
</p>

<p>
  <b>Esophgus:</b>
  <%=h @gastroscopytest.esophgus %>
</p>

<p>
  <b>Fundus:</b>
  <%=h @gastroscopytest.fundus %>
</p>

<p>
  <b>Corpus:</b>
  <%=h @gastroscopytest.corpus %>
</p>

<p>
  <b>Antrum:</b>
  <%=h @gastroscopytest.antrum %>
</p>

<p>
  <b>Blub:</b>
  <%=h @gastroscopytest.blub %>
</p>

<p>
  <b>Firsrpart:</b>
  <%=h @gastroscopytest.firsr_part %>
</p>

<p>
  <b>Secondpart:</b>
  <%=h @gastroscopytest.second_part %>
</p>

<p>
  <b>Biopsy:</b>
  <%=h @gastroscopytest.biopsy %>
</p>

<p>
  <b>Opinionfirst:</b>
  <%=h @gastroscopytest.opinion_first %>
</p>

<p>
  <b>Pylorospasm:</b>
  <%=h @gastroscopytest.pylorospasm %>
</p>

<p>
  <b>Biliaryreflux:</b>
  <%=h @gastroscopytest.biliaryreflux %>
</p>

<p>
  <b>Guthypomotility:</b>
  <%=h @gastroscopytest.guthypomotility %>
</p>

<p>
  <b>Opinionsecond:</b>
  <%=h @gastroscopytest.opinion_second %>
</p>


<%= link_to 'Edit', edit_gastroscopytest_path(@gastroscopytest) %> |
<%= link_to 'Back', gastroscopytests_path %>