<p>
  <b>Employeename:</b>
  <%=h @payroll_employeemaster.employee_name %>
</p>

<p>
  <b>Categoryname:</b>
  <%=h @payroll_employeemaster.category_name %>
</p>

<p>
  <b>Categorycode:</b>
  <%=h @payroll_employeemaster.category_code %>
</p>

<p>
  <b>Depattmentname:</b>
  <%=h @payroll_employeemaster.depattment_name %>
</p>

<p>
  <b>Departmentcode:</b>
  <%=h @payroll_employeemaster.department_code %>
</p>

<p>
  <b>Designationname:</b>
  <%=h @payroll_employeemaster.designation_name %>
</p>

<p>
  <b>Designationcode:</b>
  <%=h @payroll_employeemaster.designation_code %>
</p>

<p>
  <b>Employeecode:</b>
  <%=h @payroll_employeemaster.employee_code %>
</p>

<p>
  <b>Employeedateofbirth:</b>
  <%=h @payroll_employeemaster.employee_date_of_birth %>
</p>

<p>
  <b>Employeejoiningdate:</b>
  <%=h @payroll_employeemaster.employee_joining_date %>
</p>

<p>
  <b>Reperstingmanagerfortheemployee:</b>
  <%=h @payroll_employeemaster.repersting_manager_for_the_employee %>
</p>

<p>
  <b>Employeementtype:</b>
  <%=h @payroll_employeemaster.employeement_type %>
</p>

<p>
  <b>Startdate:</b>
  <%=h @payroll_employeemaster.start_date %>
</p>

<p>
  <b>Enddate:</b>
  <%=h @payroll_employeemaster.end_date %>
</p>

<p>
  <b>Salarytype:</b>
  <%=h @payroll_employeemaster.salary_type %>
</p>

<p>
  <b>Bankcode:</b>
  <%=h @payroll_employeemaster.bank_code %>
</p>

<p>
  <b>Bankname:</b>
  <%=h @payroll_employeemaster.bank_name %>
</p>

<p>
  <b>Gross:</b>
  <%=h @payroll_employeemaster.gross %>
</p>

<p>
  <b>Basic:</b>
  <%=h @payroll_employeemaster.basic %>
</p>

<p>
  <b>Da:</b>
  <%=h @payroll_employeemaster.da %>
</p>

<p>
  <b>Hra:</b>
  <%=h @payroll_employeemaster.hra %>
</p>

<p>
  <b>Conveyeney:</b>
  <%=h @payroll_employeemaster.conveyeney %>
</p>

<p>
  <b>Education:</b>
  <%=h @payroll_employeemaster.education %>
</p>

<p>
  <b>Medical:</b>
  <%=h @payroll_employeemaster.medical %>
</p>

<p>
  <b>Professionaltax:</b>
  <%=h @payroll_employeemaster.professional_tax %>
</p>

<p>
  <b>Eligibleforprovidentfound:</b>
  <%=h @payroll_employeemaster.eligible_for_provident_found %>
</p>

<p>
  <b>Providentfound:</b>
  <%=h @payroll_employeemaster.provident_found %>
</p>

<p>
  <b>Employeepf:</b>
  <%=h @payroll_employeemaster.employee_pf %>
</p>

<p>
  <b>Esi:</b>
  <%=h @payroll_employeemaster.esi %>
</p>

<p>
  <b>Tds:</b>
  <%=h @payroll_employeemaster.tds %>
</p>

<p>
  <b>Hostel:</b>
  <%=h @payroll_employeemaster.hostel %>
</p>

<p>
  <b>Volantrypf:</b>
  <%=h @payroll_employeemaster.volantry_pf %>
</p>


<%= link_to 'Edit', edit_payroll_employeemaster_path(@payroll_employeemaster) %> |
<%= link_to 'Back', payroll_employeemasters_path %>