<h3>Details Of Record </h3>
<br /><br />
<div align="center">
  <table width="40%" cellspacing= "0" border="1" cellpadding="4">
<tr>
  <td>Refdoctorname</td>
  <td><%=h @refferalmaster.ref_doctor_name %></td>
</tr>

<tr>
  <td>Doctorcode</td>
  <td><%=h @refferalmaster.doctor_code %></td>
</tr>

<tr>
  <td>Consultingroom</td>
  <td><%=h @refferalmaster.consulting_room %></td>
</tr>

<tr>
  <td>Specialization</td>
  <td><%=h @refferalmaster.specialization %></td>
</tr>

<tr>
  <td>Designation</td>
  <td><%=h @refferalmaster.designation %></td>
</tr>

<tr>
  <td>Address</td>
  <td><%=h @refferalmaster.address %></td>
</tr>

<tr>
  <td>City</td>
  <td><%=h @refferalmaster.city %></td>
</tr>

<tr>
  <td>State</td>
  <td><%=h @refferalmaster.state %></td>
</tr>

<tr>
  <td>Country</td>
  <td><%=h @refferalmaster.country %></td>
</tr>

<tr>
  <td>Phnno</td>
  <td><%=h @refferalmaster.phn_no %></td>
</tr>

<tr>
  <td>Pincode</td>
  <td><%=h @refferalmaster.pincode %></td>
</tr>

<tr>
  <td>Mailid</td>
  <td><%=h @refferalmaster.mail_id %></td>
</tr>
</table>
</div>
<br />
<%= link_to 'Back', refferalmasters_path %>