<p>
  <b>Registration no:</b>
  <%=h @urinetest.registration_no %>
</p>

<p>
  <b>Billno:</b>
  <%=h @urinetest.bill_no %>
</p>

<p>
  <b>Mrno:</b>
  <%=h @urinetest.mr_no %>
</p>

<p>
  <b>Patientname:</b>
  <%=h @urinetest.patient_name %>
</p>

<p>
  <b>Test date:</b>
  <%=h @urinetest.test_date %>
</p>

<p>
  <b>Appearence:</b>
  <%=h @urinetest.appearence %>
</p>

<p>
  <b>Sp gravity:</b>
  <%=h @urinetest.sp_gravity %>
</p>

<p>
  <b>Reaction:</b>
  <%=h @urinetest.reaction %>
</p>

<p>
  <b>Albumin:</b>
  <%=h @urinetest.albumin %>
</p>

<p>
  <b>Sugar:</b>
  <%=h @urinetest.sugar %>
</p>

<p>
  <b>Rbcs hpe:</b>
  <%=h @urinetest.rbcs_hpe %>
</p>

<p>
  <b>Wbcs hpf:</b>
  <%=h @urinetest.wbcs_hpf %>
</p>

<p>
  <b>Epith cells hpf:</b>
  <%=h @urinetest.epith_cells_hpf %>
</p>

<p>
  <b>Crystails hpf:</b>
  <%=h @urinetest.crystails_hpf %>
</p>

<p>
  <b>Cast hpf:</b>
  <%=h @urinetest.cast_hpf %>
</p>

<p>
  <b>Amorphous sediments:</b>
  <%=h @urinetest.amorphous_sediments %>
</p>

<p>
  <b>Spermatozoa:</b>
  <%=h @urinetest.spermatozoa %>
</p>

<p>
  <b>Others:</b>
  <%=h @urinetest.others %>
</p>

<p>
  <b>Bile salt:</b>
  <%=h @urinetest.bile_salt %>
</p>

<p>
  <b>Bile pigment:</b>
  <%=h @urinetest.bile_pigment %>
</p>

<p>
  <b>Urobillingogen:</b>
  <%=h @urinetest.urobillingogen %>
</p>

<p>
  <b>Acetone:</b>
  <%=h @urinetest.acetone %>
</p>

<p>
  <b>Occult blood:</b>
  <%=h @urinetest.occult_blood %>
</p>

<p>
  <b>Pku:</b>
  <%=h @urinetest.pku %>
</p>

<p>
  <b>Bece jones protein:</b>
  <%=h @urinetest.bece_jones_protein %>
</p>

<p>
  <b>Amino acid:</b>
  <%=h @urinetest.amino_acid %>
</p>

<p>
  <b>Unary protein:</b>
  <%=h @urinetest.unary_protein %>
</p>

<p>
  <b>Uary ketesteriod:</b>
  <%=h @urinetest.uary_ketesteriod %>
</p>

<p>
  <b>Urinary vma:</b>
  <%=h @urinetest.urinary_vma %>
</p>

<p>
  <b>Totalvalue:</b>
  <%=h @urinetest.totalvalue %>
</p>

<p>
  <b>Pregnect test:</b>
  <%=h @urinetest.pregnect_test %>
</p>


<%= link_to 'Edit', edit_urinetest_path(@urinetest) %> |
<%= link_to 'Back', urinetests_path %>