<br /><br /><br />
<div align="center" >
<table  width="80%" cellspacing="0" cellpadding="4">
  <tr> <td>Admission no:</td>
  <td><%=h @ipadmission.admission_no %></td>
  <td>Admission date:</td>
  <td><%=h @ipadmission.admission_date %></td>
</tr>
<tr>
  <td>Time:</td>
  <td><%=h @ipadmission.time %></td>
  <td>Admission type:</td>
  <td><%=h @ipadmission.admission_type %></td>
</tr>
<tr>
  <td>Accident place:</td>
 <td> <%=h @ipadmission.accident_place %></td>
 <td>Accident type:</td>
 <td> <%=h @ipadmission.accident_type %></td>
</tr>
<tr>
  <td>Authorised police station:</td>
  <td><%=h @ipadmission.authorised_police_station %></td>
  <td>Time of accident:</td>
  <td> <%=h @ipadmission.time_of_accident %></td>
</tr>
<tr>  
  <td>Mr no:</td>
  <td><%=h @ipadmission.mr_no %></td>
  <td>Patient name:</td>
  <td><%=h @ipadmission.patient_name %></td>
</tr>
<tr>
  <td>Reg no:</td>
  <td><%=h @ipadmission.reg_no %></td>
  <td>Father name:</td>
  <td> <%=h @ipadmission.father_name %></td>
</tr>
<tr>
  <td>Department:</td>
  <td><%=h @ipadmission.department %></td>
  <td>Doctor:</td>
  <td><%=h @ipadmission.doctor %></td>
</tr>
<tr>
  <td>Type:</td>
  <td><%=h @ipadmission.type %></td>
  <td>Floor:</td>
  <td><%=h @ipadmission.floor %></td>
</tr>
<tr>
  <td>Ward:</td>
  <td> <%=h @ipadmission.ward %></td>
  <td>Room:</td>
  <td><%=h @ipadmission.room %></td>
</tr>
<tr>
  <td>Bed:</td>
  <td><%=h @ipadmission.bed %></td>
  <td>Status:</td>
  <td> <%=h @ipadmission.status %></td>
</tr>
<tr>
  <td>Attender name:</td>
  <td><%=h @ipadmission.attender_name %></td>
  <td>Mobile no:</td>
  <td> <%=h @ipadmission.mobile_no %></td>
</tr>
<tr>
  <td>Address:</td>
  <td><%=h @ipadmission.address %></td>
</tr>
</table>
</div>
<br /> 
<%= link_to 'Back', ipadmissions_path %>