<p>
  <b>Patientregistration:</b>
  <%=h @insurenceinformation.patient_registration_id %>
</p>

<p>
  <b>Relativename:</b>
  <%=h @insurenceinformation.relative_name %>
</p>

<p>
  <b>Contactno:</b>
  <%=h @insurenceinformation.contact_no %>
</p>

<p>
  <b>Address:</b>
  <%=h @insurenceinformation.address %>
</p>

<p>
  <b>Relationship:</b>
  <%=h @insurenceinformation.relationship %>
</p>

<p>
  <b>Companyname:</b>
  <%=h @insurenceinformation.company_name %>
</p>

<p>
  <b>Address:</b>
  <%=h @insurenceinformation.address %>
</p>

<p>
  <b>City:</b>
  <%=h @insurenceinformation.city %>
</p>

<p>
  <b>State:</b>
  <%=h @insurenceinformation.state %>
</p>

<p>
  <b>Phnno:</b>
  <%=h @insurenceinformation.phn_no %>
</p>

<p>
  <b>Insurencecompanyname:</b>
  <%=h @insurenceinformation.insurence_company_name %>
</p>

<p>
  <b>Insaddress:</b>
  <%=h @insurenceinformation.ins_address %>
</p>

<p>
  <b>Inscity:</b>
  <%=h @insurenceinformation.ins_city %>
</p>

<p>
  <b>Insstate:</b>
  <%=h @insurenceinformation.ins_state %>
</p>

<p>
  <b>Policestation:</b>
  <%=h @insurenceinformation.police_station %>
</p>

<p>
  <b>Firno:</b>
  <%=h @insurenceinformation.fir_no %>
</p>

<p>
  <b>Firaddress:</b>
  <%=h @insurenceinformation.fir_address %>
</p>

<p>
  <b>Fircity:</b>
  <%=h @insurenceinformation.fir_city %>
</p>

<p>
  <b>Firstate:</b>
  <%=h @insurenceinformation.fir_state %>
</p>


<%= link_to 'Edit', edit_insurenceinformation_path(@insurenceinformation) %> |
<%= link_to 'Back', insurenceinformations_path %>