<%= javascript_include_tag :defaults %>
<script type="text/javascript"> 
//Fill the fields In Based on the entering MR_NUMBER
    var query1=""
	function Search(id) 
	{
		 query1= document.getElementById('rno').value
		 
			if( query1.length==9 ) 
						{
						alert(query1)
				Ajax_Code()
			}
	}
		
	//Ajax Code
	function Ajax_Code()
	{
		req = new Ajax.Request('/service_cancels/ajax_buildings/1', {
			method: 'get',
			parameters: { q: query1  },
			onComplete: function(transport) {
			processReqChange(transport);
			}

	}); 
	function processReqChange(req) 
		{
			// request is complete
			if (req.readyState == 4) 
			{
				var results = req.responseText;
				alert(results)
				var temp=new Array()
				temp=results.split(",")
				document.getElementById('name').value=temp[0]
					document.getElementById('regno').value=temp[1]
					document.getElementById('fname').value=temp[2]
		}
     }		
	}
	
	//creating a row in a table code starts here
	function store__values()
	{
		var tbl = document.getElementById('tblSample');
		var lastRow = tbl.rows.length;
		var test_names=""
		var fees=""
		var cons=0
		var total=0
		for(i=0;i<lastRow-1;i++)
		{
			test_names=document.getElementById("r"+(i+1)+"c1").value+","+test_names
			fees=document.getElementById("r"+(i+1)+"c2").value+","+fees
			cons=parseInt(document.getElementById("r"+(i+1)+"c3").value)+cons
			total=parseInt(document.getElementById("r"+(i+1)+"c4").value)+total
		}
		document.getElementById("sname").value=test_names
		document.getElementById("scode").value=fees
		document.getElementById("fee").value=cons
		
		document.getElementById('tcode').style.display='block'
		document.getElementById('fee').style.display='block'
		document.getElementById('con').style.display='block'
		
		
	}
	var selectedid;
	var query
	var array1 = new Array("rno", "name","rec_no","bgroup");
	function ajaxSearch(id) 
	{
		var selObj = document.getElementById('service');
		query = selObj.options[selObj.selectedIndex].value
		alert(id)
		ajax()
	}
	
	function ajax()
	{
	
		req = new Ajax.Request('/service_cancels/ajax_buildings1/1', 
			{
				method: 'get',
				parameters: { q: query },
				onComplete: function(transport){
					processReqChange(transport);
					}
			}); // end ajax req
		function processReqChange(req) 
		{
			// request is complete
			
			if (req.readyState == 4) 
			{
			
				var results = req.responseText;
				alert(results)
				var temp=new Array
				temp=results.split(",")
				addRowToTable(query,results)
			} // end if req == 4
		}
	}
	function addRowToTable(query,results)
    {
	  var tbl = document.getElementById('tblSample');
	  var lastRow = tbl.rows.length;
	  // if there's no header row in the table, then iteration = lastRow + 1
	  var iteration = lastRow;
	  var row = tbl.insertRow(lastRow);
	  
	  // left cell
	  var cellLeft = row.insertCell(0);
	  var textNode = document.createTextNode(iteration);
	  cellLeft.appendChild(textNode);
	  
	  // right cell
	  var cellRight1 = row.insertCell(1);
	  var el1 = document.createElement('input');
	  el1.type = 'text';
	  el1.value = temp[0]
	  el1.name = 'r'+iteration+'c'+1;
	  el1.id = 'r'+iteration+'c'+1;
	  el1.size = 20;
	  cellRight1.appendChild(el1);
	  
	  var cellRight2 = row.insertCell(2);
	  var el2 = document.createElement('input');
	  el2.type = 'text';
	  el2.value= temp[1]
	  el2.name = 'r'+iteration+'c'+2;
	  el2.id = 'r'+iteration+'c'+2;
	  el2.size = 20;
	  cellRight2.appendChild(el2);
	  
	  var cellRight3 = row.insertCell(3);
	  var el3 = document.createElement('input');
	  el3.type = 'text';
	  el3.name = 'r'+iteration+'c'+3;
	  el3.id = 'r'+iteration+'c'+3;
	  el3.size = 20;
	  el3.onkeyup = keyPressTest;
	  cellRight3.appendChild(el3);
	  
	  
	  
	  
	}
	function keyPressTest(e,obj)
	{
		var key;
		if(window.event) {
			key = window.event.keyCode; 
		}
		else if(e.which) {
			key = e.which;
		}
		var objId;
		if (obj != null) {
			objId = obj.id;
		} else {
			objId = this.id;
		}
		var cha=objId.charAt(1)
		var fee=document.getElementById("r"+cha+"c2").value
		var con=(fee-((fee/100)*document.getElementById(objId).value))
		document.getElementById("r"+cha+"c4").value=con
	}

	</script>
<br/><br/><br/><br/>
<div align="center" >
<% form_for(@service_cancel) do |f| %>
  <%= f.error_messages %>

  <table  cellspacing="0" cellpadding="4">
  <tr>
    <td><%= f.label :mr_no %></td>
    <td><%= f.text_field :mr_no, :size => 20,:id => "rno", :onKeyUp => "Search()" %></td>
    <td><%= f.label :reg_no %></td>
    <td><%= f.text_field :reg_no, :size => "20", :id => "rno", :id =>"regno"   %></td>
    <td><%= f.label :patient_name %></td>
    <td><%= f.text_field :patient_name, :size => "20", :id => "name"  %></td></tr>
    <tr><td><%= f.label :father_name %></td>
    <td><%= f.text_field :father_name, :size => "20", :id => "fname"  %></td>
    <td><%= f.label :floor %></td>
    <td><%= f.text_field :floor, :size => "20"  %></td>
    <td><%= f.label :room %></td>
    <td><%= f.text_field :room, :size => "20"  %><td></tr>
    <tr><td><%= f.label :ward %></td>
    <td><%= f.text_field :ward, :size => "20"  %></td>
    <td><%= f.label :bed %></td>
    <td><%= f.text_field :bed, :size => "20"  %><td></tr>
	<br/><br/>
	
	<tr>
		<td></td><td></td>
		<td>Services</td>
		<td><%= f.select :services,Testmaster.find(:all).collect{|p| [p.test_name]}, {:include_blank => false}, {:id => "service", :onchange => "ajaxSearch(id)"}  %></td></tr>
	</table><br /><br/>
	<table border="1" cellspacing="0" cellpadding="6" id="tblSample">
  <tr>
    <th>Sno</th>
    <th>Service name</th>
    <th>Service code</th>
    <th>Provided Services</th>
  </tr>	
</table>
<table>  
   <% fields_for :service_cancel_service do |s| %>
   <tr> 
    <td><%= s.text_field :sno, :size => "10", :style => "display:none", :id => "scode" %></td>
    
    <td><%= s.text_field :name, :size => "10", :style => "display:none", :id => "sname" %></td>
    
    <td><%= s.text_field :code, :size => "10", :style => "display:none", :id =>"fee" %></td>
    
    <td><%= s.text_field :provided_service, :size => "10", :style => "display:none" %></tr></td>
    <% end %>
    </table>
	<br/><br/>
    <%= f.submit 'Create' %>
  
<% end %>
</div>
<%= link_to 'Back', service_cancels_path %>