<table><tr><td>
  <b>Mr no:</b>
  <td><%=h @service_cancel.mr_no %></td>

  <td><b>Reg no:</b></td>
  <td><%=h @service_cancel.reg_no %></td></tr>
  <tr><td><b>Patient name:</b></td>
  <td><%=h @service_cancel.patient_name %></td>
  <td><b>Father name:</b></td>
  <td><%=h @service_cancel.father_name %></td></tr>
  tr><td><b>Floor:</b></td>
  <td><%=h @service_cancel.floor %></td>
  <td><b>Room:</b></td>
  <td><%=h @service_cancel.room %></td></tr>
  tr><td><b>Ward:</b></td>
  <td><%=h @service_cancel.ward %></td>
  <td><b>Bed:</b></td>
  <td><%=h @service_cancel.bed %></td></tr>
</table></div>
<%= link_to 'Back', service_cancels_path %>