<h3>Details Of Record </h3>
<br /><br />
<div align="center">
  <table width="40%" cellspacing= "0" border="1" cellpadding="4">
<tr><td>
  Month:</td>
  <td><%=h @loandeductionmaster.month %></td></tr>
  <tr><td>Year</td>
  <td><%=h @loandeductionmaster.year %></td></tr>
  <tr><td>Branch</td>
  <td><%=h @loandeductionmaster.branch %></td></tr>
  <tr><td>Category_code</td>
  <td><%=h @loandeductionmaster.category_code %></td></tr>
  <tr><td>Category_name</td>
  <td><%=h @loandeductionmaster.category_name %></td></tr>
  <tr><td>Employee_code</td>
  <td><%=h @loandeductionmaster.employee_code %></td></tr>
  <tr><td>Employee_name</td>
  <td><%=h @loandeductionmaster.employee_name %></td></tr>
  <tr><td>Loan_entry_type_code</td>
  <td><%=h @loandeductionmaster.loan_entry_type_code %></td></tr>
  <tr><td>Loanentrytypename</td>
  <td><%=h @loandeductionmaster.loan_entry_type_name %></td></tr>
  <tr><td>Installment_amount</td>
  <td><%=h @loandeductionmaster.installment_amount %></td></tr>
  <tr><td>Deduction_amount</td>
  <td><%=h @loandeductionmaster.deduction_amount %></td></tr>
  <tr><td>Loan_balance_amount</td>
  <td><%=h @loandeductionmaster.loan_balance_amount %></td></tr>
  <tr><td>Remarks</td>
  <td><%=h @loandeductionmaster.remarks %></td></tr>
 </table>
 </div>
 <br />
<%= link_to 'Back', loandeductionmasters_path %>