
<br /><br />
<div align="center" width="90%">
<table width="40%" style="border:#966 solid 1px;border-color:#FFF0; " border="1" cellspacing="0" cellpadding="4">

<tr><td>
  <b>Name:</b></td>
  <td> 
  <%=h @servicemaster.name %>
</td>  <tr/>
<tr><td>
  <b>Code:</b></td>
  <td> 
  <%=h @servicemaster.code %>
</td>  <tr/>

<tr><td>
  <b>Group:</b></td>
  <td> 
  <%=h @servicemaster.group %>
</td>  <tr/>


<tr><td>
  <b>Providingto:</b></td>
  <td> 
  <%=h @servicemaster.providing_to %>
</td>  <tr/>

<tr><td>
  <b>Charge:</b></td>
  <td> 
  <%=h @servicemaster.charge %>
</td>  <tr/>
<tr><td>
  <b>Ward:</b></td>
  <td> 
  <%=h @servicemaster.ward %>
</td>  <tr/>
<tr><td>
  <b>Cost:</b></td>
  <td> 
  <%=h @servicemaster.cost %>
</td>  <tr/>
<tr><td>
  <b>DoctorPercentage:</b></td>
  <td> 
  <%=h @servicemaster.doctor_percentage %>
</td>  <tr/>

<tr><td>
  <b>HospitalPercentage:</b></td>
  <td> 
  <%=h @servicemaster.hospital_percentage %>
</td>  <tr/>

<tr><td><center>
<%= link_to 'Edit', edit_servicemaster_path(@servicemaster) %>
<center/>
</td>  <tr/>
<table/>
<div/>