<%= stylesheet_link_tag 'css' %>

<br /><br /><br />
<div align="center" >
<table width="60%" cellpadding="2" cellspacing="0">
  <tr bgcolor ="#378bf8" style="color:white">
  <th>Mr no</th>
    <th>Reg no</th>
    <th>Patient name</th>
    <th>Father name</th>
    <th>Floor</th>
    <th>Ward</th>
    <th>Room</th>
    <th>Bed</th>
    <th colspan="3">Permissions</th>
  </tr>

<% @ipadvances.each do |ipadvance| %>
   <% if((ipadvance.id % 2)==0) 
		id="datacellone"
	else
		id="datacelltwo"
  end %>
  <tr>
    <td class='<%= id %>'><%=h ipadvance.mr_no %></td>
    <td class='<%= id %>'><%=h ipadvance.reg_no %></td>
    <td class='<%= id %>'><%=h ipadvance.patient_name %></td>
    <td class='<%= id %>'><%=h ipadvance.father_name %></td>
    <td class='<%= id %>'><%=h ipadvance.floor %></td>
    <td class='<%= id %>'><%=h ipadvance.ward %></td>
    <td class='<%= id %>'><%=h ipadvance.room %></td>
    <td class='<%= id %>'><%=h ipadvance.bed %></td>
   
	<% if @value[1]==49 %>
    <td class='<%= id %>'><%= link_to 'Show', ipadvance %></td>
	<% end %>
	<% if @value[2]==49 %>
    <td class='<%= id %>'><%= link_to 'Edit', edit_ipadvance_path(ipadvance) %></td>
	<% end %>
	<% if @value[3]==49 %>
    <td class='<%= id %>'><%= link_to 'Destroy', ipadvance, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
</div>
<br />
<% if @value[0]==49 %>
<td><%= link_to 'New', new_ipadvance_path %></td>
<% end %>
