<div align="center">
<table><tr><td>
  Department name:</td>
 <td> <%=h @doctorsheduling.department_name %>
</td>
</tr>
<tr><td>
  Doctor:</td>
  <td><%=h @doctorsheduling.doctor_id %>
</td>
</tr>
<tr><td>
  Doctor name:</td>
 <td> <%=h @doctorsheduling.doctor_name %>
</td>
</tr>
<tr><td>
  Date:</td>
 <td> <%=h @doctorsheduling.date %>
</td>
</tr>
</table>
</div>
<%= link_to 'Back', doctorshedulings_path %>