<p>
  <b>X ray name:</b>
  <%=h @xray_value.x_ray_name %>
</p>

<p>
  <b>Remark 1:</b>
  <%=h @xray_value.remark_1 %>
</p>

<p>
  <b>Remark 2:</b>
  <%=h @xray_value.remark_2 %>
</p>

<p>
  <b>Remark 3:</b>
  <%=h @xray_value.remark_3 %>
</p>

<p>
  <b>Remark 4:</b>
  <%=h @xray_value.remark_4 %>
</p>

<p>
  <b>Remark 5:</b>
  <%=h @xray_value.remark_5 %>
</p>

<p>
  <b>Remark 6:</b>
  <%=h @xray_value.remark_6 %>
</p>

<p>
  <b>Remark 7:</b>
  <%=h @xray_value.remark_7 %>
</p>

<p>
  <b>Remark 8:</b>
  <%=h @xray_value.remark_8 %>
</p>

<p>
  <b>Remark 9:</b>
  <%=h @xray_value.remark_9 %>
</p>

<p>
  <b>Remark 10:</b>
  <%=h @xray_value.remark_10 %>
</p>

<p>
  <b>Remark 11:</b>
  <%=h @xray_value.remark_11 %>
</p>

<p>
  <b>Opinion:</b>
  <%=h @xray_value.opinion %>
</p>


<%= link_to 'Edit', edit_xray_value_path(@xray_value) %> |
<%= link_to 'Back', xray_values_path %>