<br /><br />
  <div align="center" width="100%">
<table width="60%" cellpadding="4"  cellspacing="0"> 
 
<tr><td>
  <b>Mr no:</b></td><td>
  <%=h @retain_bed.mr_no %>
</td></tr>

<tr><td>
  <b>Reg no:</b></td><td>
  <%=h @retain_bed.reg_no %>
</td></tr>

<tr><td>
  <b>Patient name:</b></td><td>
  <%=h @retain_bed.patient_name %>
</td></tr>

<tr><td>
  <b>Father name:</b></td><td>
  <%=h @retain_bed.father_name %>
</td></tr>

<tr><td>
  <b>Floor:</b></td><td>
  <%=h @retain_bed.floor %>
</td></tr>

<tr><td>
  <b>Ward:</b></td><td>
  <%=h @retain_bed.ward %>
</td></tr>

<tr><td>
  <b>Room:</b></td><td>
  <%=h @retain_bed.room %>
</td></tr>

<tr><td>
  <b>Bed:</b></td><td>
  <%=h @retain_bed.bed %>
</td></tr>

<tr><td>
  <b>Transfer floor:</b></td><td>
  <%=h @retain_bed.transfer_floor %>
</td></tr>

<tr><td>
  <b>Transfer ward:</b></td><td>
  <%=h @retain_bed.transfer_ward %>
</td></tr>

<tr><td>
  <b>Transfer room:</b></td><td>
  <%=h @retain_bed.transfer_room %>
</td></tr>

<tr><td>
  <b>Transfer bed:</b></td><td>
  <%=h @retain_bed.transfer_bed %>
</td></tr>

<tr><td>
  <b>Transfer charge:</b></td><td>
  <%=h @retain_bed.transfer_charge %>
</td></tr>
</table>
</div>
<%= link_to 'Back', retain_beds_path %>