<br/>
<h3><font color="#015a84"><%=h @bankmaster.name %> Record</font></h3>

<div align="center" width="100%">
     <table width="40%" " border="0" cellspacing="3" cellpadding="6">
         <tr>
             <td bgcolor=#c6dfff><b>Bankname</b></td>
             <td bgcolor=#d9e8f0><%=h @bankmaster.name %></td>
         </tr>
         <tr>
             <td bgcolor=#c6dfff><b>Bankcode</b></td>
             <td bgcolor=#d9e8f0><%=h @bankmaster.code %></td>
          </tr>
          <tr>
             <td bgcolor=#c6dfff><b>Branch</b></td>
             <td bgcolor=#d9e8f0><%=h @bankmaster.branch %></td>
         </tr>
         <tr>
             <td bgcolor=#c6dfff><b>Address</b></td>
             <td bgcolor=#d9e8f0><%=h @bankmaster.address %></td>
         </tr>
         <tr>
             <td bgcolor=#c6dfff><b>City</b></td>
             <td bgcolor=#d9e8f0><%=h @bankmaster.city %></td>
         </tr>
         <tr>
             <td bgcolor=#c6dfff><b>State</b></td>
             <td bgcolor=#d9e8f0><%=h @bankmaster.state %></td>
         </tr>
         <tr>
             <td bgcolor=#c6dfff><b>Country</b></td>
             <td bgcolor=#d9e8f0><%=h @bankmaster.country %></td>
         </tr>
         <tr>
             <td bgcolor=#c6dfff><b>Bank_phoneno:</b></td>
             <td bgcolor=#d9e8f0><%=h @bankmaster.phno %></td>
         </tr>
         <tr>
             <td bgcolor=#c6dfff><b>Bank_mail:</b></td>
             <td bgcolor=#d9e8f0><%=h @bankmaster.mail %></td>
         </tr>
      </table>
   </div>
   <br/>
<%= link_to image_tag("Button_Images/back.png", :size => "60x25", :border=>"0"), bankmasters_path  %>
