<h3>Listing leavemasters</h3>

<br /><br />
<div align="center">
  <table width="40%" style="border:#966 solid 1px;border-color:#FFF0; " border="1" cellspacing="0" cellpadding="4">
  <tr>
    <th>Leavetypecode</th>
    <th>Leavetypename</th>
    <th>Status</th>
	<th>Show</th>
	<th>Edit</th>
	<th>Destroy</th>
  </tr>

<% @leavemasters.each do |leavemaster| %>
	<% if((leavemaster.id % 2)==0) 
		id="datacellone"
	else
		id="datacelltwo"
  end %>
  <tr>
    <td class='<%= id %>'><%=h leavemaster.leave_type_code %></td>
    <td class='<%= id %>'><%=h leavemaster.leave_type_name %></td>
    <td class='<%= id %>'><%=h leavemaster.status %></td>
    <td class='<%= id %>'><%= link_to 'Show', leavemaster %></td>
    <td class='<%= id %>'><%= link_to 'Edit', edit_leavemaster_path(leavemaster) %></td>
    <td class='<%= id %>'><%= link_to 'Destroy', leavemaster, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New leavemaster', new_leavemaster_path %>