<h3>New Leavemaster</h3>

<% form_for(@leavemaster) do |f| %>
  <%= f.error_messages %>

  <br /><br />
<div align="center">
  <table width="40%" style="border:#966 solid 1px;border-color:#FFF0; " border="1" cellspacing="0" cellpadding="4">
  <tr><td>
    <%= f.label :leave_type_code %></td>
    <td><%= f.text_field :leave_type_code %></td></tr>
     <tr><td> <%= f.label :leave_type_name %></td>
     <td><%= f.text_field :leave_type_name %></td></tr>
    <tr><td> <%= f.label :status %></td>
     <td><%= f.text_field :status %></td></tr>
</table>
<br /> 
  <%= f.submit 'Create' %>
 </div>
<% end %>
<br />
<%= link_to 'Show', leavemasters_path %>