<p>
  <b>Mrno:</b>
  <%=h @patientappointmentregistration.mrno %>
</p>
<p>
  <b>Patienttype:</b>
  <%=h @patientappointmentregistration.patienttype %>
</p>
<p>
  <b>Appoinmentid:</b>
  <%=h @patientappointmentregistration.appoinmentid %>
</p>

<p>
  <b>Appdate:</b>
  <%=h @patientappointmentregistration.appdate %>
</p>

<p>
  <b>Registrationid:</b>
  <%=h @patientappointmentregistration.registrationid %>
</p>

<p>
  <b>Regdate:</b>
  <%=h @patientappointmentregistration.regdate %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @patientappointmentregistration.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @patientappointmentregistration.lastname %>
</p>

<p>
  <b>Dob:</b>
  <%=h @patientappointmentregistration.dob %>
</p>

<p>
  <b>Gender:</b>
  <%=h @patientappointmentregistration.gender %>
</p>

<p>
  <b>Age:</b>
  <%=h @patientappointmentregistration.age %>
</p>

<p>
  <b>Maritalstatus:</b>
  <%=h @patientappointmentregistration.maritalstatus %>
</p>

<p>
  <b>Fathername:</b>
  <%=h @patientappointmentregistration.fathername %>
</p>

<p>
  <b>Departmentname:</b>
  <%=h @patientappointmentregistration.departmentname %>
</p>

<p>
  <b>Occupation:</b>
  <%=h @patientappointmentregistration.occupation %>
</p>

<p>
  <b>Disease:</b>
  <%=h @patientappointmentregistration.disease %>
</p>
<p>
  <b>Paymentmode:</b>
  <%=h @patientappointmentregistration.paymentmode %>
</p>

<p>
  <b>Initialamount:</b>
  <%=h @patientappointmentregistration.initialamount %>
</p>

<p>
  <b>Address1:</b>
  <%=h @patientappointmentregistration.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%=h @patientappointmentregistration.address2 %>
</p>

<p>
  <b>City:</b>
  <%=h @patientappointmentregistration.city %>
</p>

<p>
  <b>Country:</b>
  <%=h @patientappointmentregistration.country %>
</p>

<p>
  <b>State:</b>
  <%=h @patientappointmentregistration.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%=h @patientappointmentregistration.zipcode %>
</p>

<p>
  <b>Phnno:</b>
  <%=h @patientappointmentregistration.phnno %>
</p>

<p>
  <b>Mobileno:</b>
  <%=h @patientappointmentregistration.mobileno %>
</p>

<p>
  <b>Faxno:</b>
  <%=h @patientappointmentregistration.faxno %>
</p>

<p>
  <b>Emailid:</b>
  <%=h @patientappointmentregistration.emailid %>
</p>

<p>
  <b>Doctorname:</b>
  <%=h @patientappointmentregistration.doctorname %>
</p>

<p>
  <b>Departmentname:</b>
  <%=h @patientappointmentregistration.departmentname %>
</p>

<p>
  <b>Dateofappoinment:</b>
  <%=h @patientappointmentregistration.dateofappoinment %>
</p>

<p>
  <b>Timeofappointment:</b>
  <%=h @patientappointmentregistration.timeofappointment %>
</p>


<%= link_to 'Edit', edit_patientappointmentregistration_path(@patientappointmentregistration) %> |
<%= link_to 'Back', patientappointmentregistrations_path %>