
<br /><br />
<%= stylesheet_link_tag 'css' %>
 <div align="center" width="90%">
  <table width="80%" cellpadding="2" cellspacing="0">
  <tr bgcolor =" #378bf8" style="color:white">
    <th>Mr no</th>
    <th>Reg no</th>
    <th>Patient name</th>
    <th>Father name</th>
    <th>Department name</th>
    <th>Doctor</th>
    <th>Transfer to doctor</th>
	<th colspan="3">Permissions</th>
  </tr>

<% @doctortransfers.each do |doctortransfer| %>
<% if((doctortransfer.id % 2)==0) 
		id="datacellone"
	else
		id="datacelltwo"
  end %>
  <tr>
    <td class='<%= id %>'><%=h doctortransfer.mr_no %></td>
    <td class='<%= id %>'><%=h doctortransfer.reg_no %></td>
    <td class='<%= id %>'><%=h doctortransfer.patient_name %></td>
    <td class='<%= id %>'><%=h doctortransfer.father_name %></td>
    <td class='<%= id %>'><%=h doctortransfer.department_name %></td>
    <td class='<%= id %>'><%=h doctortransfer.doctor %></td>
    <td class='<%= id %>'><%=h doctortransfer.transfer_to_doctor %></td>
	<td class='<%= id %>'><%= link_to 'Show', doctortransfer %></td>
	<td class='<%= id %>'><%= link_to 'Edit', edit_doctortransfer_path(doctortransfer) %></td>
	<td class='<%= id %>'><%= link_to 'Destroy', doctortransfer, :confirm => 'Are you sure?', :method => :delete %>
	</td>
  

</tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New doctortransfer', new_doctortransfer_path %>