<p>
  <b>Doctorname:</b>
  <%=h @doctormaster.doctorname %>
</p>

<p>
  <b>Doctorcode:</b>
  <%=h @doctormaster.doctorcode %>
</p>

<p>
  <b>Doctordesignation:</b>
  <%=h @doctormaster.doctordesignation %>
</p>

<p>
  <b>Doctordepartment:</b>
  <%=h @doctormaster.doctordepartment %>
</p>
<p>
  <b>Doctorfee:</b>
  <%=h @doctormaster.doctorfee %>
</p>
<p>
  <b>Address:</b>
  <%=h @doctormaster.address %>
</p>

<p>
  <b>City:</b>
  <%=h @doctormaster.city %>
</p>

<p>
  <b>State:</b>
  <%=h @doctormaster.state %>
</p>

<p>
  <b>Country:</b>
  <%=h @doctormaster.country %>
</p>

<p>
  <b>Pincode:</b>
  <%=h @doctormaster.pincode %>
</p>

<p>
  <b>Mobileno:</b>
  <%=h @doctormaster.mobileno %>
</p>

<p>
  <b>Consultingroom:</b>
  <%=h @doctormaster.consultingroom %>
</p>

<p>
  <b>Consultingtype:</b>
  <%=h @doctormaster.consultingtype %>
</p>

<p>
  <b>Paymenttype:</b>
  <%=h @doctormaster.paymenttype %>
</p>


<%= link_to 'Edit', edit_doctormaster_path(@doctormaster) %> |
<%= link_to 'Back', doctormasters_path %>