<p>
  <b>Registration no:</b>
  <%=h @colonoscopytest.registration_no %>
</p>

<p>
  <b>Mrno:</b>
  <%=h @colonoscopytest.mr_no %>
</p>

<p>
  <b>Billno:</b>
  <%=h @colonoscopytest.bill_no %>
</p>

<p>
  <b>Patientname:</b>
  <%=h @colonoscopytest.patient_name %>
</p>

<p>
  <b>Test date:</b>
  <%=h @colonoscopytest.test_date %>
</p>

<p>
  <b>Anal canal:</b>
  <%=h @colonoscopytest.anal_canal %>
</p>

<p>
  <b>Rectum:</b>
  <%=h @colonoscopytest.rectum %>
</p>

<p>
  <b>Sigmoid colon:</b>
  <%=h @colonoscopytest.sigmoid_colon %>
</p>

<p>
  <b>Descending colon:</b>
  <%=h @colonoscopytest.descending_colon %>
</p>

<p>
  <b>Splenic flexure:</b>
  <%=h @colonoscopytest.splenic_flexure %>
</p>

<p>
  <b>Transverese colon:</b>
  <%=h @colonoscopytest.transverese_colon %>
</p>

<p>
  <b>Hepatic flexure:</b>
  <%=h @colonoscopytest.hepatic_flexure %>
</p>

<p>
  <b>Ascending colon:</b>
  <%=h @colonoscopytest.ascending_colon %>
</p>

<p>
  <b>Caecum:</b>
  <%=h @colonoscopytest.caecum %>
</p>

<p>
  <b>Terminal ileum:</b>
  <%=h @colonoscopytest.terminal_ileum %>
</p>

<p>
  <b>Biopsy:</b>
  <%=h @colonoscopytest.biopsy %>
</p>

<p>
  <b>Opinion 1:</b>
  <%=h @colonoscopytest.opinion_1 %>
</p>

<p>
  <b>Opinion 2:</b>
  <%=h @colonoscopytest.opinion_2 %>
</p>


<%= link_to 'Edit', edit_colonoscopytest_path(@colonoscopytest) %> |
<%= link_to 'Back', colonoscopytests_path %>