<head>
<%= stylesheet_link_tag 'style' %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'jquery', 'jquery-js', 'jquery.delayed-observer', 'application' %>
<script type="text/javascript">
	$(document).ready(function() {
		$("#root ul").each(function() {$(this).css("display", "none");});
		$("#root .category").click(function() {
			var childid = "#" + $(this).attr("childid");
			if ($(childid).css("display") == "none") {$(childid).css("display", "block");}
			else {$(childid).css("display", "none");}
			
			
		});
	});
</script>
</head>
<body>
	<ul id="root" class="menu">
    	<li>
		<a href='javascript:void(0);' childid = 'c_12' class='cat_close category'><%= image_tag ("Button_Images/Master_Button.png") %></a>		
        </li>
	 <ul id='c_12'>
		<% @master.each do |master| %>
	    <li>
            	<a href="http://localhost:3000/<%= master.master_name %>/new" TARGET='home'><%= master.master_name %></a>
            </li>
			<% end %>
       	</ul>
	<li>
        	<a HREF='javascript:void(0);' childid = 'c_1' class='cat_close category' TARGET='home'><%= image_tag ("Button_Images/FrontOffice_Button.png") %></a>
        </li>
		<ul id='c_1'>
        	<li>
            		<a href="http://localhost:3000/Patientregistration_datas" TARGET='home'><%= image_tag ("Button_Images/Patient_Button.png") %></a>
			<a href="http://localhost:3000/consultationforms" TARGET='home'><%= image_tag ("Button_Images/Consultation_Button.png") %></a>
            </li>
       	</ul>
        <li>
        	<a HREF='javascript:void(0);' TARGET='home' childid = 'his' class='cat_close category'><%= image_tag ("btn_ne.png") %></a>
        </li>
		<ul id='his'>
        	<li>
            	<a href='http://localhost:3000/home/left'  childid = 'op' class='cat_close category' TARGET='home'><%= image_tag ("Button_Images/OP_Button1.png", :size => "158x23") %></a>
            </li>
			<li>
            	<a href='http://localhost:3000/home/ip' childid = 'ip' class='cat_close category' TARGET='home'><%= image_tag ("Button_Images/IP_Button.png", :size => "158x23") %></a>
            </li>
	    <li>
            	<a href='http://localhost:3000/home/osp' childid = 'osp' class='cat_close category' TARGET='home'><%= image_tag ("Button_Images/OSP_Button.png", :size => "158x23") %></a>
            </li>
	    </ul>
       	<li>
        	<a href='javascript:void(0);' class='cat_close category'><%= image_tag ("Button_Images/Laboratory_Button.png") %></a>
        </li>
        <li>
            <a href='javascript:void(0);' class='cat_close category'><%= image_tag ("Button_Images/Pharmacy_Button.png") %></a>
        </li>
        <li>
            <a href='javascript:void(0);' class='cat_close category'><%= image_tag ("Button_Images/Clinical_Button.png") %></a>
        </li>
        <li>
            <a href='javascript:void(0);' class='cat_close category'><%= image_tag ("Button_Images/Financial_Button.png") %></a>
        </li>
		<li>
            <a href='javascript:void(0);' class='cat_close category'><%= image_tag ("Button_Images/Radiology_Button.png") %></a>
        </li>
    </ul>
</body>
</html>

