<h3>Details Of Record</h3>
<br/><br/><br/>
  <div align="center"  width="100%">
  <table width="40%" style="border:#966 solid 1px;border-color:#FFF0; " border="1" cellspacing="0" cellpadding="4">
<tr>
  <td><b>Grn_number:</b></td>
  <td><%=h @goodsrecieptnotemaster.grn_number %></td>
  <td><b>Grn_date:</b></td>
  <td><%=h @goodsrecieptnotemaster.grn_date %></td>
  <td><b>Po_number:</b></td>
  <td><%=h @goodsrecieptnotemaster.po_number %></td>
  <td><b>Po_date:</b></td>
  <td><%=h @goodsrecieptnotemaster.po_date %></td>
  <td><b>Vendor_code:</b></td>
  <td><%=h @goodsrecieptnotemaster.vendor_code %></td>
  <td><b>Invoice_number:</b></td>
  <td><%=h @goodsrecieptnotemaster.invoice_number %></td>
  <td><b>Invoice_date:</b></td>
  <td><%=h @goodsrecieptnotemaster.invoice_date %></td>
  <td><b>Stack_point_code:</b></td>
  <td><%=h @goodsrecieptnotemaster.stack_point_code %></td>
  <td><b>Satck_point_name:</b></td>
  <td><%=h @goodsrecieptnotemaster.satck_point_name %></td>
  <td><b>Item_code:</b></td>
  <td><%=h @goodsrecieptnotemaster.item_code %></td>
  <td><b>Item_name:</b></td>
  <td><%=h @goodsrecieptnotemaster.item_name %></td>
  <td><b>Batch_no:</b></td>
  <td><%=h @goodsrecieptnotemaster.batch_no %></td>
  <td><b>Expiry_date:</b></td>
  <td><%=h @goodsrecieptnotemaster.expiry_date %></td>
  <td><b>Quantity:</b></td>
  <td><%=h @goodsrecieptnotemaster.quantity %></td>
  <td><b>Purchase_rate:</b></td>
  <td><%=h @goodsrecieptnotemaster.purchase_rate %></td>
  <td><b>Purchase_amount:</b></td>
  <td><%=h @goodsrecieptnotemaster.purchase_amount %></td>
  <td><b>Salerate:</b></td>
  <td><%=h @goodsrecieptnotemaster.salerate %></td>
  <td><b>Sale_amount:</b></td>
  <td><%=h @goodsrecieptnotemaster.sale_amount %></td>
</table>
</div>
<td><%= link_to 'back', goodsrecieptnotemasters_path %>