<h3>New Country </h3>
<% form_for(@countrymaster) do |f| %>
  <%= f.error_messages %>
  <br /><br />
<div align="center" width="90%">
  <table width="30%" style="border:#966 solid 1px;border-color:#FFF0; " border="1" cellspacing="0" cellpadding="4">
  <tr><td>
    <%= f.label :Name %></td>
    <td><%= f.text_field :name %></td></tr>
     
 </table>
 <br />
 <%= f.submit 'Create' %></table>
</div> 
<% end %>
<br/>
<%= link_to 'show', countrymasters_path %>