<h3>Listing Service Group Masters</h3>
<br /><br />
<div align="center">
  <table width="60%" style="border:#966 solid 1px;border-color:#FFF0; " border="1" cellspacing="0" cellpadding="4">

  <tr>
   <th>Service Group Name</th> 
    <th>Service Group Code</th>
    <th>Show</th>
	 <th>Edit</th>
	 <th>Destory</th>	
  </tr>

<% @servicegroupmasters.each do |servicegroupmaster| %>
	<% if((servicegroupmaster.id % 2)==0) 
		id="datacellone"
	else
		id="datacelltwo"
  end %>
  <tr>
    <td class='<%= id %>'><%=h servicegroupmaster.name %></td>
    <td class='<%= id %>'><%=h servicegroupmaster.code %></td>
    <td class='<%= id %>'><%= link_to 'Show', servicegroupmaster %></td>
    <td class='<%= id %>'><%= link_to 'Edit', edit_servicegroupmaster_path(servicegroupmaster) %></td>
    <td class='<%= id %>'><%= link_to 'Destroy', servicegroupmaster, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New servicegroupmaster', new_servicegroupmaster_path %>
