<p>
  <b>Registration no:</b>
  <%=h @stooltest.registration_no %>
</p>

<p>
  <b>Billno:</b>
  <%=h @stooltest.bill_no %>
</p>

<p>
  <b>Mrno:</b>
  <%=h @stooltest.mr_no %>
</p>

<p>
  <b>Patientname:</b>
  <%=h @stooltest.patient_name %>
</p>

<p>
  <b>Testdate:</b>
  <%=h @stooltest.test_date %>
</p>

<p>
  <b>Color:</b>
  <%=h @stooltest.color %>
</p>

<p>
  <b>Consistency:</b>
  <%=h @stooltest.consistency %>
</p>

<p>
  <b>Mucus:</b>
  <%=h @stooltest.mucus %>
</p>

<p>
  <b>Blood:</b>
  <%=h @stooltest.blood %>
</p>

<p>
  <b>Wbchpf:</b>
  <%=h @stooltest.wbchpf %>
</p>

<p>
  <b>Rbchpf:</b>
  <%=h @stooltest.rbchpf %>
</p>

<p>
  <b>Mechrophages:</b>
  <%=h @stooltest.mechrophages %>
</p>

<p>
  <b>Trophozoite:</b>
  <%=h @stooltest.trophozoite %>
</p>

<p>
  <b>P ova:</b>
  <%=h @stooltest.p_ova %>
</p>

<p>
  <b>P cust:</b>
  <%=h @stooltest.p_cust %>
</p>

<p>
  <b>C ova:</b>
  <%=h @stooltest.c_ova %>
</p>

<p>
  <b>C cyst:</b>
  <%=h @stooltest.c_cyst %>
</p>

<p>
  <b>Occult blood:</b>
  <%=h @stooltest.occult_blood %>
</p>

<p>
  <b>Ph:</b>
  <%=h @stooltest.ph %>
</p>

<p>
  <b>Red sub:</b>
  <%=h @stooltest.red_sub %>
</p>


<%= link_to 'Edit', edit_stooltest_path(@stooltest) %> |
<%= link_to 'Back', stooltests_path %>