<h3>Editing leaveentrymaster</h3>


<script type="text/javascript">
	function checked_print(el,v2) 
	{
		if(el=="employeecode")
		{
			
			var hi=v2
			var selObj = document.getElementById(el);
			var value_glo= selObj.options[selObj.selectedIndex].index;
			var temp=new Array()
			temp=hi.split(",")
			document.getElementById('empname').value=temp[value_glo]
		}
		else if(el=="leavetypecode")
		{
			var hi=v2
			var selObj = document.getElementById(el);
			var value_glo= selObj.options[selObj.selectedIndex].index;
			var temp=new Array()
			temp=hi.split(",")
			document.getElementById('leavename').value=temp[value_glo]
		}
	}
</script>
<% form_for(@leaveentrymaster) do |f| %>
  <%= f.error_messages %>
  <br /><br />
<div align="center">
  <table width="60%" style="border:#966 solid 1px;border-color:#FFF0; " border="1" cellspacing="0" cellpadding="4">
    <tr><td><%= f.label :employee_code %></td>
    <td><%= f.select:employee_code, Employeemaster.find(:all).collect { |p| [p.employeecode] }, {:include_blank => false },{:id => "employeecode",:onchange => "checked_print(id,'#{@empname}')"} %></td></tr>
    <tr><td><%= f.label :employee_name %></td>
    <td><%= f.text_field :employee_name, :id => "empname" %></td></tr>
     <tr><td><%= f.label :leave_type_code %></td>
     <td><%= f.select:leave_type_code, Leavemaster.find(:all).collect { |p| [p.leave_type_code] }, {:include_blank => false },{:id => "leavetypecode",:onchange => "checked_print(id,'#{@leavename}')"} %></td></tr>
     <tr><td> <%= f.label :leave_type_name %></td>
    <td><%= f.text_field :leave_type_name, :id => "leavename" %></td></tr>
    <tr><td><%= f.label :from_date %></td>
    <td><%= f.text_field :from_date %></td></tr>
    <tr><td><%= f.label :to_date %></td>
     <td><%= f.text_field :to_date %></td></tr>
    <tr><td><%= f.label :number_of_days %></td>
    <td><%= f.text_field :number_of_days %></td></tr>
</table>
<br />
    <%= f.submit 'Update' %>
 </div> 
<% end %>
<br />
<%= link_to 'Back', leaveentrymasters_path %>