
<script type="text/javascript">
var new_verify=0
var show_verify=0
var edit_verify=0
var remove_verify=0
var ch=o
var store_value;

 function fill(form_length)
 {
	store_value=new Array();
	for(i=0;i<form_length;i++)
		store_value[i]=0;
 }
 function check_va1(k,j)
 {
	var i=0
	var h=k*4
	if(j==0)
	{
		ch=new_verify
		new_verify=new_verify+1
	}else if(j==1){
		ch=show_verify
		show_verify=show_verify+1
	}else if(j==2){
		ch=edit_verify
		edit_verify=edit_verify+1
	}else if(j==3){
		ch=remove_verify
		remove_verify=remove_verify+1
	}
	if(ch%2==0)
	{
    	for(i=j;i<h;i+=4)
			document.getElementById(i).checked=true
		
	}
	else
	{
		for(i=j;i<h;i+=4)
			document.getElementById(i).checked=false
		
	}
 }
 function check_va11(k,j)
 {
	var j_int=parseInt(j)
	var h=(j_int+1)*4;
	if(store_value[j]==0)
	{
		store_value[j_int]=1;
		for(i=h-4;i<h;i++)
			document.getElementById(i).checked=true
	}
	else
	{
		store_value[j_int]=0;
		for(i=h-4;i<h;i++)
			document.getElementById(i).checked=false
	}
	
 }
</script>
<body onLoad="fill(<%= @da %>)">
<% form_for(@profilemaster) do |f| %>
  <%= f.error_messages %>
  <% @k=@da %>
  <% @i=0 %>
  <% @j=0 %>
  <table cellpadding=5 id="ta" align="center">
  <tr>	<td colspan="2"><%= f.label :profilename %></td>
		<td colspan="3"><%= f.text_field :profile_name %></td>
 </tr>
 <tr>
  <th>Forms</th>
  <th>New <%= link_to image_tag ('toggle_check.png', :border=>0), "javascript:check_va1('#{@k}',0)"%></th>
  <th>Show <%= link_to image_tag ('toggle_check.png',  :border=>0), "javascript:check_va1('#{@k}',1)"%></th>
  <th>Edit <%= link_to image_tag ('toggle_check.png',  :border=>0), "javascript:check_va1('#{@k}',2)"%></th>
  <th>Remove <%= link_to image_tag ('toggle_check.png', :border=>0), "javascript:check_va1('#{@k}',3)"%></th>
  </tr>
  <% f.fields_for :childmaster do |b| %>
     <% if @j% 2==0 %> 
		<%	id="datacellone" %>
	<% else %>
		<%	id="datacelltwo" %>
  <% end %>
  <tr>
   <td class='<%= id %>'><%= link_to image_tag ('toggle_check.png', :border=>0), "javascript:check_va11('#{@k}','#{@j}')"%><%= b.text_field :forms, :style => "border:none;",:size => "15", :readOnly => true%></td>
   <td class='<%= id %>'><%= b.check_box :new, :id => "#{@i}" %></td><% @i+=1 %>
   <td class='<%= id %>'><%= b.check_box :view, :id => "#{@i}" %></td><% @i+=1 %>
   <td class='<%= id %>'><%= b.check_box :edit, :id => "#{@i}" %></td><% @i+=1 %>
   <td class='<%= id %>'><%= b.check_box :remove,:id => "#{@i}" %></td><% @i+=1 %>
    </tr>
    <% @j+=1 %> 
  <% end %>
  </table><br />
  <center>
    <%= f.submit 'Save' %>
  </center>
<% end %>

<%= link_to 'Back', profilemasters_path %>
</body>