<table align="center">
<tr>
  <td>Ip general:</td>
  <td> <%=h @refundmaster.ip_general %></td>

  <td>Op bills:</td>
 <td>  <%=h @refundmaster.op_bills %>
</td>


  <td>Osp bills:</td>
 <td>  <%=h @refundmaster.osp_bills %>
</td>
</tr>
<tr>
  <td>Misc:</td>
   <td><%=h @refundmaster.misc %>
</td>

  <td>Consult:</td>
 <td>  <%=h @refundmaster.consult %>
</td>


  <td>Op pkg:</td>
 <td>  <%=h @refundmaster.op_pkg %>
</td>
</tr>
<tr>
  <td>Ip corp:</td>
   <td><%=h @refundmaster.ip_corp %>
</td>


  <td>Refund no:</td>
 <td>  <%=h @refundmaster.refund_no %>
</td>


  <td>Bill no:</td>
 <td>  <%=h @refundmaster.bill_no %>
</td>
</tr>
<tr>
  <td>Refund date:</td>
   <td><%=h @refundmaster.refund_date %>
</td>


  <td>Mr no:</td>
 <td>  <%=h @refundmaster.mr_no %>
</td>


  <td>Patient name:</td>
 <td>  <%=h @refundmaster.patient_name %>
</td>
</tr>
<tr>
  <td>Status:</td>
  <td> <%=h @refundmaster.status %>
</td>

 
  <td>Reg no:</td>
  <td> <%=h @refundmaster.reg_no %>
</td>

 
  <td>Dob:</td>
   <td><%=h @refundmaster.dob %>
</td>
</tr>
<tr>
  <td>Age:</td>
  <td> <%=h @refundmaster.age %>
</td>

 
  <td>Admn no:</td>
   <td><%=h @refundmaster.admn_no %>
</td>

 
  <td>Consultation doctor:</td>
  <td> <%=h @refundmaster.consultation_doctor %>
</td>
</tr>
<tr>
  <td>Admn date:</td>
  <td> <%=h @refundmaster.admn_date %>
</td>

 
  <td>Gross amount:</td>
  <td> <%=h @refundmaster.gross_amount %>
</td>

 
  <td>Net amount:</td>
   <td><%=h @refundmaster.net_amount %>
</td>
</tr>
<tr>
  <td>Due amount:</td>
   <td><%=h @refundmaster.due_amount %>
</td>

 
  <td>Refund:</td>
  <td> <%=h @refundmaster.refund %>
</td>

 
  <td>Reffered by:</td>
  <td> <%=h @refundmaster.reffered_by %>
</td>
</tr>
<tr>
  <td>Payment mode:</td>
  <td><%=h @refundmaster.payment_mode %>
</td>

 
  <td>Paid to:</td>
  <td><%=h @refundmaster.paid_to %>
</td>

 
  <td>Remarks:</td>
   <td><%=h @refundmaster.remarks %>
</td>
</tr></table>

<%= link_to 'Edit', edit_refundmaster_path(@refundmaster) %> |
<%= link_to 'Back', refundmasters_path %>