<p>
  <b>Registration no:</b>
  <%=h @sonographytest.registration_no %>
</p>

<p>
  <b>Mrno:</b>
  <%=h @sonographytest.mr_no %>
</p>

<p>
  <b>Billno:</b>
  <%=h @sonographytest.bill_no %>
</p>

<p>
  <b>Patientname:</b>
  <%=h @sonographytest.patient_name %>
</p>

<p>
  <b>Test date:</b>
  <%=h @sonographytest.test_date %>
</p>

<p>
  <b>L size:</b>
  <%=h @sonographytest.l_size %>
</p>

<p>
  <b>L echotexture:</b>
  <%=h @sonographytest.l_echotexture %>
</p>

<p>
  <b>Focal pathology:</b>
  <%=h @sonographytest.focal_pathology %>
</p>

<p>
  <b>Ihbr:</b>
  <%=h @sonographytest.ihbr %>
</p>

<p>
  <b>Pv:</b>
  <%=h @sonographytest.pv %>
</p>

<p>
  <b>Cbd:</b>
  <%=h @sonographytest.cbd %>
</p>

<p>
  <b>G size:</b>
  <%=h @sonographytest.g_size %>
</p>

<p>
  <b>Wall thickness:</b>
  <%=h @sonographytest.wall_thickness %>
</p>

<p>
  <b>Lumen:</b>
  <%=h @sonographytest.lumen %>
</p>

<p>
  <b>Lumen:</b>
  <%=h @sonographytest.lumen %>
</p>

<p>
  <b>P size:</b>
  <%=h @sonographytest.p_size %>
</p>

<p>
  <b>P shape:</b>
  <%=h @sonographytest.p_shape %>
</p>

<p>
  <b>P echotexture:</b>
  <%=h @sonographytest.p_echotexture %>
</p>

<p>
  <b>S size:</b>
  <%=h @sonographytest.s_size %>
</p>

<p>
  <b>S shape:</b>
  <%=h @sonographytest.s_shape %>
</p>

<p>
  <b>S echotexture:</b>
  <%=h @sonographytest.s_echotexture %>
</p>

<p>
  <b>K size rt:</b>
  <%=h @sonographytest.k_size_rt %>
</p>

<p>
  <b>K size lt:</b>
  <%=h @sonographytest.k_size_lt %>
</p>

<p>
  <b>K shape rt:</b>
  <%=h @sonographytest.k_shape_rt %>
</p>

<p>
  <b>K shape lt:</b>
  <%=h @sonographytest.k_shape_lt %>
</p>

<p>
  <b>K cortex rt:</b>
  <%=h @sonographytest.k_cortex_rt %>
</p>

<p>
  <b>K cortex lt:</b>
  <%=h @sonographytest.k_cortex_lt %>
</p>

<p>
  <b>K corticomedullaty differentiation rt:</b>
  <%=h @sonographytest.k_corticomedullaty_differentiation_rt %>
</p>

<p>
  <b>K corticomedullay defferentiation lt:</b>
  <%=h @sonographytest.k_corticomedullay_defferentiation_lt %>
</p>

<p>
  <b>K pcs rt:</b>
  <%=h @sonographytest.k_pcs_rt %>
</p>

<p>
  <b>K pcs lt:</b>
  <%=h @sonographytest.k_pcs_lt %>
</p>

<p>
  <b>K calculus rt:</b>
  <%=h @sonographytest.k_calculus_rt %>
</p>

<p>
  <b>K calculus lt:</b>
  <%=h @sonographytest.k_calculus_lt %>
</p>

<p>
  <b>Aorta:</b>
  <%=h @sonographytest.aorta %>
</p>

<p>
  <b>Ivc:</b>
  <%=h @sonographytest.ivc %>
</p>

<p>
  <b>Pre paraortic lymphadenopathy:</b>
  <%=h @sonographytest.pre_paraortic_lymphadenopathy %>
</p>

<p>
  <b>Fluid in peritoneal cavity:</b>
  <%=h @sonographytest.fluid_in_peritoneal_cavity %>
</p>

<p>
  <b>Visualised bowel:</b>
  <%=h @sonographytest.visualised_bowel %>
</p>

<p>
  <b>U wall thickness:</b>
  <%=h @sonographytest.u_wall_thickness %>
</p>

<p>
  <b>U calculus:</b>
  <%=h @sonographytest.u_calculus %>
</p>

<p>
  <b>Prevoid urinary vol:</b>
  <%=h @sonographytest.prevoid_urinary_vol %>
</p>

<p>
  <b>Postvoid urinary vol:</b>
  <%=h @sonographytest.postvoid_urinary_vol %>
</p>

<p>
  <b>Pr size:</b>
  <%=h @sonographytest.pr_size %>
</p>

<p>
  <b>Pr echotexture:</b>
  <%=h @sonographytest.pr_echotexture %>
</p>

<p>
  <b>Pr capsule:</b>
  <%=h @sonographytest.pr_capsule %>
</p>

<p>
  <b>U size:</b>
  <%=h @sonographytest.u_size %>
</p>

<p>
  <b>U position:</b>
  <%=h @sonographytest.u_position %>
</p>

<p>
  <b>U echotexture:</b>
  <%=h @sonographytest.u_echotexture %>
</p>

<p>
  <b>U e cavity:</b>
  <%=h @sonographytest.u_e_cavity %>
</p>

<p>
  <b>U endometrium:</b>
  <%=h @sonographytest.u_endometrium %>
</p>

<p>
  <b>O size rt:</b>
  <%=h @sonographytest.o_size_rt %>
</p>

<p>
  <b>O size lt:</b>
  <%=h @sonographytest.o_size_lt %>
</p>

<p>
  <b>O shape rt:</b>
  <%=h @sonographytest.o_shape_rt %>
</p>

<p>
  <b>O shape lt:</b>
  <%=h @sonographytest.o_shape_lt %>
</p>

<p>
  <b>O echotexture rt:</b>
  <%=h @sonographytest.o_echotexture_rt %>
</p>

<p>
  <b>O echotexture lt:</b>
  <%=h @sonographytest.o_echotexture_lt %>
</p>

<p>
  <b>O adenexal mass rt:</b>
  <%=h @sonographytest.o_adenexal_mass_rt %>
</p>

<p>
  <b>O adenexal mass lt:</b>
  <%=h @sonographytest.o_adenexal_mass_lt %>
</p>

<p>
  <b>Free fluid in pouch douglas:</b>
  <%=h @sonographytest.free_fluid_in_pouch_douglas %>
</p>

<p>
  <b>Impression:</b>
  <%=h @sonographytest.impression %>
</p>


<%= link_to 'Edit', edit_sonographytest_path(@sonographytest) %> |
<%= link_to 'Back', sonographytests_path %>