<h3>Showing GoodissuenoteMaster</h3>
<br /><br /><br />
<div align="center">
  <table width="40%" style="border:#966 solid 1px;border-color:#FFF0; " border="1" cellspacing="0" cellpadding="4">
	<tr>
  <td>From_stock_point_code:</td>
 <td> <%=h @goodissuenotemaster.from_stock_point_code %>
</td>


  <td>From_stock_point_name:</td>
 <td> <%=h @goodissuenotemaster.from_stock_point_name %>
</td>
</tr>
<tr>
  <td>To_stock_point_code:</td>
 <td> <%=h @goodissuenotemaster.to_stock_point_code %>
</td>


  <td>To_stock_point_name:</td>
 <td> <%=h @goodissuenotemaster.to_stock_point_name %>
</td></tr>

<tr>
  <td>Issuing_date:</td>
 <td> <%=h @goodissuenotemaster.issuing_date %>
</td>


  <td>Item_code:</td>
 <td> <%=h @goodissuenotemaster.item_code %>
</td></tr>

<tr>
  <td>Item_name:</td>
 <td> <%=h @goodissuenotemaster.item_name %>
</td>


  <td>Batch_no:</td>
  <td><%=h @goodissuenotemaster.batch_no %>
</td></tr>

<tr>
  <td>Item_expity_date:</td>
  <td><%=h @goodissuenotemaster.item_expity_date %>
</td>


  <td>Quantity:</td>
 <td> <%=h @goodissuenotemaster.quantity %>
</td></tr>

<tr>
  <td>Purchase_rate:</td>
  <td><%=h @goodissuenotemaster.purchase_rate %>
</td>


  <td>Purchase_amount:</td>
 <td> <%=h @goodissuenotemaster.purchase_amount %>
</td></tr>

<tr>
  <td>Sale_rate:</td>
  <td><%=h @goodissuenotemaster.sale_rate %>
</td>


  <td>Sale_amount:</td>
  <td><%=h @goodissuenotemaster.sale_amount %>
</td></tr>
</table>


<%= link_to 'Back', goodissuenotemasters_path %></div>