<div align="center" width="100%">
	<table width="40%"  cellspacing="0" cellpadding="4">
<tr>
  <td><b>Mr no:</b></td>
  <td><%=h @pre_refund.mr_no %></td>

  <td><b>Reg no:</b></td>
  <td><%=h @pre_refund.reg_no %></td></tr>
<tr>
  <td><b>Patient name:</b></td>
  <td><%=h @pre_refund.patient_name %></td>

  <td><b>Father name:</b></td>
  <td><%=h @pre_refund.father_name %></td></tr>
<tr>
  <td><b>Floor:</b></td>
  <td><%=h @pre_refund.floor %></td>

  <td><b>Ward:</b></td>
  <td><%=h @pre_refund.ward %></td></tr>
<tr>
  <td>
  <b>Room:</b></td>
  <td><%=h @pre_refund.room %></td>

  <td><b>Bed:</b></td>
  <td><%=h @pre_refund.bed %></td></tr>

  <tr><td><b>Advance amount:</b></td>
  <td><%=h @pre_refund.advance_amount %></td>
  
  <td><b>Refund:</b></td>
  <td><%=h @pre_refund.refund %></td></tr>

  <tr><td><b>Payment type:</b></td>
  <td><%=h @pre_refund.payment_type %></td>

  <td><b>Bank name:</b></td>
  <td><%=h @pre_refund.bank_name %></td></tr>

  <tr><td><b>Acc no:</b></td>
  <td><%=h @pre_refund.acc_no %></td>

  <td><b>Cheque no:</b></td>
  <td><%=h @pre_refund.cheque_no %></td></tr>

  <tr><td><b>Card no:</b></td>
  <td><%=h @pre_refund.card_no %></td>

  <td><b>Expiry date:</b></td>
  <td><%=h @pre_refund.expiry_date %></td></tr>




<%= link_to 'Back', pre_refunds_path %>