<h1>Listing appointmentregistrations</h1>

<table>
  <tr>
    <th>Appointmentno</th>
    <th>Doctorsname</th>
    <th>Departmentname</th>
    <th>Selectdate</th>
  </tr>

<% @appointmentregistrations.each do |appointmentregistration| %>
  <tr>
    <td><%=h appointmentregistration.appointment_no %></td>
    <td><%=h appointmentregistration.doctors_name %></td>
    <td><%=h appointmentregistration.department_name %></td>
    <td><%=h appointmentregistration.select_date %></td>
    <td><%= link_to 'Show', appointmentregistration %></td>
    <td><%= link_to 'Edit', edit_appointmentregistration_path(appointmentregistration) %></td>
    <td><%= link_to 'Destroy', appointmentregistration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New appointmentregistration', new_appointmentregistration_path %>