
<br /><br />
  <div align="center" width="100%">
<table width="40%" cellpadding="4" cellspacing="0"> 
 
<tr><td>
  <b>Mr no:</b></td><td>
  <%=h @additional_bed_allocation.mr_no %>
</td>

<td>
  <b>Reg no:</b></td><td>
  <%=h @additional_bed_allocation.reg_no %>
</td>

<td>
  <b>Patient name:</b></td><td>
  <%=h @additional_bed_allocation.patient_name %>
</td></tr>

<tr><td>
  <b>Father name:</b></td><td>
  <%=h @additional_bed_allocation.father_name %>
</td>

<td>
  <b>Floor:</b></td><td>
  <%=h @additional_bed_allocation.floor %>
</td>

<td>
  <b>Ward:</b></td><td>
  <%=h @additional_bed_allocation.ward %>
</td></tr>

<tr><td>
  <b>Room:</b></td><td>
  <%=h @additional_bed_allocation.room %>
</td>

<td>
  <b>Bed:</b></td><td>
  <%=h @additional_bed_allocation.bed %>
</td>

<td>
  <b>floor:</b></td><td>
  <%=h @additional_bed_allocation.a_floor %>
</td></tr>

<tr><td>
  <b>ward:</b></td><td>
  <%=h @additional_bed_allocation.a_ward %>
</td>

<td>
  <b>room:</b></td><td>
  <%=h @additional_bed_allocation.a_room %>
</td>

<td>
  <b>bed:</b></td><td>
  <%=h @additional_bed_allocation.a_bed %>
</td></tr>

<tr><td>
  <b>Charge per day:</b></td><td>
  <%=h @additional_bed_allocation.charge_per_day %>
</td></tr>
</table>
</div>
<br/>

<%= link_to 'Back', additional_bed_allocations_path %>