<h3>Showing List</h3>
<br/><br/>
<div align="center" width="90%">
  <table width="40%" style="border:#966 solid 1px;border-color:#FFF0; " border="1" cellspacing="0" cellpadding="4">
  <tr><td>
  <b>Service:</b></td>
  <td><%=h @parametersetupmaster.service %></td></tr>
  <tr><td><b>Parameter1:</b></td>
  <td><%=h @parametersetupmaster.parameter1 %></td></tr>
  <tr><td><b>Minimum:</b></td>
  <td><%=h @parametersetupmaster.minimum %></td></tr>
  <tr><td><b>Maximum:</b></td>
  <td><%=h @parametersetupmaster.maximum %></td></tr>
  <tr><td><b>Parameter2:</b></td>
  <td><%=h @parametersetupmaster.parameter2 %></td></tr>
  <tr><td><b>Minimum:</b></td>
  <td><%=h @parametersetupmaster.min %></td></tr>
  <tr><td><b>Maximum:</b></td>
  <td><%=h @parametersetupmaster.max %></td></tr>
  <tr><td><b>Units:</b></td>
  <td><%=h @parametersetupmaster.units %></td></tr>
</table>
</div>
<%= link_to 'Back', parametersetupmasters_path %>