<p>
  <b>Consultation_id:</b>
  <%=h @inpatiententry.consultation_id %>
</p>

<p>
  <b>Date:</b>
  <%=h @inpatiententry.date %>
</p>

<p>
  <b>Regisration_id:</b>
  <%=h @inpatiententry.regisration_id %>
</p>

<p>
  <b>Reg_date_time:</b>
  <%=h @inpatiententry.reg_date_time %>
</p>

<p>
  <b>First_name:</b>
  <%=h @inpatiententry.first_name %>
</p>

<p>
  <b>Last_name:</b>
  <%=h @inpatiententry.last_name %>
</p>

<p>
  <b>Dob:</b>
  <%=h @inpatiententry.dob %>
</p>

<p>
  <b>Gender:</b>
  <%=h @inpatiententry.gender %>
</p>

<p>
  <b>Age:</b>
  <%=h @inpatiententry.age %>
</p>

<p>
  <b>Marital_status:</b>
  <%=h @inpatiententry.marital_status %>
</p>

<p>
  <b>Dapartment_name:</b>
  <%=h @inpatiententry.dapartment_name %>
</p>

<p>
  <b>Doctor_name:</b>
  <%=h @inpatiententry.doctor_name %>
</p>

<p>
  <b>Refferal_doctor:</b>
  <%=h @inpatiententry.refferal_doctor %>
</p>

<p>
  <b>Prescription:</b>
  <%=h @inpatiententry.prescription %>
</p>

<p>
  <b>Request_forward:</b>
  <%=h @inpatiententry.request_forward %>
</p>


<%= link_to 'Edit', edit_inpatiententry_path(@inpatiententry) %> |
<%= link_to 'Back', inpatiententries_path %>