<div align="center">
<% form_for(@ward_change) do |f| %>
  <%= f.error_messages %>
  <br/><br/>
<table><tr><td>
    <%= f.label :Patient_Name %><br /></td>
    <td><%= f.text_field :Patient_Name, :size => "20" %></td></tr>
    <tr><td><%= f.label :MR_No %></td>
    <td><%= f.text_field :MR_No, :size => "20" %></td></tr>
    <tr><td><%= f.label :floor %></td>
    <td><%= f.text_field :floor, :size => "20" %></td></tr>
    <tr><td><%= f.label :room %></td>
    <td><%= f.text_field :room, :size => "20" %></td></tr>
    <tr><td><%= f.label :ward %></td>
    <td><%= f.text_field :ward, :size => "20" %></td></tr>
    <tr><td><%= f.label :T_Floor %></td>
    <td><%= f.text_field :T_Floor, :size => "20" %></td></tr>
     <tr><td><%= f.label :T_Room %></td>
    <td><%= f.text_field :T_Room, :size => "20" %></td></tr>
    <tr><td><%= f.label :T_Ward %></td>
    <td><%= f.text_field :T_Ward, :size => "20" %></td></tr></table>
    <br/>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', ward_changes_path %>