<h1>New appointment</h1>


<%form_for(@appointment) do |f| %>
  <%= f.error_messages %>

   <p>
    <%= f.label :physician_id %><br />
    <%= f.text_field :physician_id %>
  </p>
  <p>
    <%= f.label :patant_id %><br />
    <%= f.text_field :patant_id %>
  </p>
  <p>
    <%= f.label :apdate %><br />
    <%= f.date_select :apdate %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', appointments_path %>