
<div align="center" width="90%">
<table width="40%" style="border:#966 solid 1px;border-color:#FFF0; " border="1" cellspacing="0" cellpadding="4">
  <b>Employee_code:</b></td>
  <td><%=h @loanpaymentmaster.employee_code %></td></tr>
  <tr><td><b>Employee_name:</b></td>
  <td><%=h @loanpaymentmaster.employee_name %></td></tr>
  <tr><td><b>Loan_amount:</b></td>
  <td><%=h @loanpaymentmaster.loan_amount %></td></tr>
  <tr><td><b>Payment_mode:</b></td>
  <td><%=h @loanpaymentmaster.payment_mode %></td></tr>
  <tr><td><b>Receipt_amount_payment:</b></td>
  <td><%=h @loanpaymentmaster.receipt_amount_payment %></td></tr>
</table>
</div>
<%= link_to 'Back', loanpaymentmasters_path %></td>