<h1>Editing contactinformation</h1>

<% form_for(@contactinformation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :patient_registration_id %><br />
    <%= f.text_field :patient_registration_id %>
  </p>
  <p>
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </p>
  <p>
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </p>
  <p>
    <%= f.label :phn_no %><br />
    <%= f.text_field :phn_no %>
  </p>
  <p>
    <%= f.label :mobile_no %><br />
    <%= f.text_field :mobile_no %>
  </p>
  <p>
    <%= f.label :fax_no %><br />
    <%= f.text_field :fax_no %>
  </p>
  <p>
    <%= f.label :emailid %><br />
    <%= f.text_field :emailid %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @contactinformation %> |
<%= link_to 'Back', contactinformations_path %>