<p>
  <b>Patientregistration:</b>
  <%=h @contactinformation.patient_registration_id %>
</p>

<p>
  <b>Address1:</b>
  <%=h @contactinformation.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%=h @contactinformation.address2 %>
</p>

<p>
  <b>City:</b>
  <%=h @contactinformation.city %>
</p>

<p>
  <b>State:</b>
  <%=h @contactinformation.state %>
</p>

<p>
  <b>Country:</b>
  <%=h @contactinformation.country %>
</p>

<p>
  <b>Zipcode:</b>
  <%=h @contactinformation.zipcode %>
</p>

<p>
  <b>Phnno:</b>
  <%=h @contactinformation.phn_no %>
</p>

<p>
  <b>Mobileno:</b>
  <%=h @contactinformation.mobile_no %>
</p>

<p>
  <b>Faxno:</b>
  <%=h @contactinformation.fax_no %>
</p>

<p>
  <b>Emailid:</b>
  <%=h @contactinformation.emailid %>
</p>


<%= link_to 'Edit', edit_contactinformation_path(@contactinformation) %> |
<%= link_to 'Back', contactinformations_path %>