<script type="text/javascript">
	function checked_val(el)
	{
		document.getElementById('bank').disabled=true
		document.getElementById('cheqno').disabled=true
		document.getElementById('cardno').disabled=true
		document.getElementById('accno').disabled=true
		document.getElementById('duespagemaster_expiry_date_2i').disabled = true
		document.getElementById('duespagemaster_expiry_date_1i').disabled = true	
		if(document.getElementById(el).value=="cheque")
		{
			document.getElementById('bank').disabled=false
			document.getElementById('cheqno').disabled=false
			document.getElementById('accno').disabled=false
		}
		else if (document.getElementById(el).value=="card")
		{
			document.getElementById('cardno').disabled=false
			document.getElementById('duespagemaster_expiry_date_1i').disabled = false
			document.getElementById('duespagemaster_expiry_date_2i').disabled = false
			
		}
	}		
</script> 
<% form_for(@duespagemaster) do |f| %>
  <%= f.error_messages %>
  <br /><br /><br />
<div align="center">
  <table width="60%" style="border:#966 solid 1px;border-color:#FFF0; " border="1" cellspacing="0" cellpadding="4">
    <tr><td>
    <%= f.label :billingmode %></td>
    <td><%= f.radio_button :billing_mode , "consultation", :checked =>true %>consultation
		<%= f.radio_button :billing_mode , "opbilling" %>opbilling</td>
    <td><%= f.label :Registration_no %></td>
    <td><%= f.text_field :registration_no %></td>
	</tr>
	
	<tr>
    
    <td><%= f.label :Mr_no %></td>
    <td><%= f.text_field :mr_no %></td>
	<td><%= f.label :bill_no %></td>
    <td><%= f.text_field :bill_no %></td>
	</tr>
	
	<tr>
    
    <td><%= f.label :patient_name %></td>
    <td><%= f.text_field :patient_name %></td>
	<td><%= f.label :gross %></td>
    <td><%= f.text_field :gross %></td>
	</tr>
	
	
	<tr>
	<td><%= f.label :due %></td>
    <td><%= f.text_field :due %></td>
	<td><%= f.label :concession %></td>
    <td><%= f.text_field :concession %></td>
	</tr>
	
    <tr>
	<td><%= f.label :refund %></td>
    <td><%= f.text_field :refund %></td>
	<td><%= f.label :paymentmode %></td>
    <td><%= f.radio_button :payment_mode , "cash", :checked =>true, :id => "button1" , :onchange => "checked_val(id)" %>cash
		<%= f.radio_button :payment_mode , "cheque", :id => "button2", :onchange => "checked_val(id)"%>cheque
		<%= f.radio_button :payment_mode , "card", :id => "button3", :onchange => "checked_val(id)"%>card</td>
   
	</tr>
	
    <tr>
	<td><%= f.label :bankname %></td>
    <td><%= f.text_field :bank_name,{:disabled => "true" , :id => "bank"} %></td>
		 <td><%= f.label :accno %></td>
    <td><%= f.text_field :acc_no, {:disabled => "true" , :id => "accno"} %></td>
    </tr>
    <tr>
	<td><%= f.label :chequeno %></td>
    <td><%= f.text_field :cheque_no,{:disabled => "true" , :id => "cheqno"} %></td>
	<td><%= f.label :cardno %></td>
    <td><%= f.text_field :card_no, {:disabled => "true" , :id => "cardno"} %></td>
    </tr>
	
    <tr>
	<td><%= f.label :expirydate %></td>
    <td><%= f.date_select :expiry_date, :prompt => {:month => 'Select month', :year => 'Select year' },:discard_day => true,:start_year => 1995, :order => [:month,:year], :disabled => true %></td>
    </tr>
	</table>
	<br /><br />
    <%= f.submit 'Create' %>
 </div>
 <% end %>

<%= link_to 'Show', duespagemasters_path %>