<h3>Listing citymasters</h3>
<br/><br/>
<div align="center" width="90%">
<table width="60%" style="border:#966 solid 1px;border-color:#FFF0; " border="1" cellspacing="0" cellpadding="4">
  <tr>
    
    <th>State</th>
	<th>State name</th>
    <th>Name</th>
	<th>Show</th>
	<th>Edit</th>
	<th>Destroy</th>
  </tr>

<% @citymasters.each do |citymaster| %>
<% if((citymaster.id % 2)==0) 
		id="datacellone"
	else
		id="datacelltwo"
  end %>
  <tr>
    <td class='<%= id %>'><%=h citymaster.statemaster_id %></td>
	<td class='<%= id %>'><%=h citymaster.state_name %></td>
    <td class='<%= id %>'><%=h citymaster.name %></td>
    <td class='<%= id %>'><%= link_to "show", citymaster %></td>
	
	<td class='<%= id %>'><%= link_to "edit", edit_citymaster_path(citymaster) %>

    <td class='<%= id %>'><%= link_to  "destroy",  citymaster, :confirm => 'Are you sure?', :method => :delete %>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New citymaster', new_citymaster_path %>