<p>
  <b>Registration no:</b>
  <%=h @usgtable.registration_no %>
</p>

<p>
  <b>Billno:</b>
  <%=h @usgtable.bill_no %>
</p>

<p>
  <b>Mrno:</b>
  <%=h @usgtable.mr_no %>
</p>

<p>
  <b>Patientname:</b>
  <%=h @usgtable.patient_name %>
</p>

<p>
  <b>Test date:</b>
  <%=h @usgtable.test_date %>
</p>

<p>
  <b>Liv:</b>
  <%=h @usgtable.liv %>
</p>

<p>
  <b>Liv1:</b>
  <%=h @usgtable.liv1 %>
</p>

<p>
  <b>Liv2:</b>
  <%=h @usgtable.liv2 %>
</p>

<p>
  <b>Gall:</b>
  <%=h @usgtable.gall %>
</p>

<p>
  <b>Gall1:</b>
  <%=h @usgtable.gall1 %>
</p>

<p>
  <b>Comm:</b>
  <%=h @usgtable.comm %>
</p>

<p>
  <b>Comm1:</b>
  <%=h @usgtable.comm1 %>
</p>

<p>
  <b>Port:</b>
  <%=h @usgtable.port %>
</p>

<p>
  <b>Port1:</b>
  <%=h @usgtable.port1 %>
</p>

<p>
  <b>Pan:</b>
  <%=h @usgtable.pan %>
</p>

<p>
  <b>Pan1:</b>
  <%=h @usgtable.pan1 %>
</p>

<p>
  <b>Sple:</b>
  <%=h @usgtable.sple %>
</p>

<p>
  <b>Sple1:</b>
  <%=h @usgtable.sple1 %>
</p>

<p>
  <b>Kidn:</b>
  <%=h @usgtable.kidn %>
</p>

<p>
  <b>Kidn1:</b>
  <%=h @usgtable.kidn1 %>
</p>

<p>
  <b>Kidn2:</b>
  <%=h @usgtable.kidn2 %>
</p>

<p>
  <b>Rk:</b>
  <%=h @usgtable.rk %>
</p>

<p>
  <b>Lk:</b>
  <%=h @usgtable.lk %>
</p>

<p>
  <b>Both:</b>
  <%=h @usgtable.both %>
</p>

<p>
  <b>Both1:</b>
  <%=h @usgtable.both1 %>
</p>

<p>
  <b>Urin:</b>
  <%=h @usgtable.urin %>
</p>

<p>
  <b>Urin1:</b>
  <%=h @usgtable.urin1 %>
</p>

<p>
  <b>N:</b>
  <%=h @usgtable.n %>
</p>

<p>
  <b>N1:</b>
  <%=h @usgtable.n1 %>
</p>

<p>
  <b>Uter:</b>
  <%=h @usgtable.uter %>
</p>

<p>
  <b>Long:</b>
  <%=h @usgtable.long %>
</p>

<p>
  <b>Ante:</b>
  <%=h @usgtable.ante %>
</p>

<p>
  <b>Tran:</b>
  <%=h @usgtable.tran %>
</p>

<p>
  <b>N3:</b>
  <%=h @usgtable.n3 %>
</p>

<p>
  <b>Adne:</b>
  <%=h @usgtable.adne %>
</p>

<p>
  <b>Oth:</b>
  <%=h @usgtable.oth %>
</p>

<p>
  <b>Echo:</b>
  <%=h @usgtable.echo %>
</p>


<%= link_to 'Edit', edit_usgtable_path(@usgtable) %> |
<%= link_to 'Back', usgtables_path %>