<div align="center">
	<tr>
	<td>Service consultaion no:</td>
	<td> <%=h @opbillservice.service_consultaion_no %></td>
</tr>
<tr><td>
  Service cancel date:</td>
 <td> <%=h @opbillservice.service_cancel_date %>
</td>
</tr>
<tr><td>
  Bill no:</td>
  <td><%=h @opbillservice.bill_no %>
</td>
</tr>
<tr><td>
  Bill date:</td>
  <td><%=h @opbillservice.bill_date %>
</td>
</tr>
<tr><td>
  Service name:</td>
 <td> <%=h @opbillservice.service_name %>
</td>
</tr>
<tr><td>
  Service code:</td>
  <td><%=h @opbillservice.service_code %>
</td>
</tr>
<tr><td>
  Amount:</td>
 <td> <%=h @opbillservice.amount %>
</td>
</tr>
</table></div>

<%= link_to 'Back', opbillservices_path %>