<p>
  <b>Registration no:</b>
  <%=h @bloodtest.registration_no %>
</p>

<p>
  <b>Mrno:</b>
  <%=h @bloodtest.mrno %>
</p>

<p>
  <b>Billno:</b>
  <%=h @bloodtest.billno %>
</p>

<p>
  <b>Patientname:</b>
  <%=h @bloodtest.patientname %>
</p>

<p>
  <b>Test date:</b>
  <%=h @bloodtest.test_date %>
</p>

<p>
  <b>Haemoglobin:</b>
  <%=h @bloodtest.haemoglobin %>
</p>

<p>
  <b>Tlc:</b>
  <%=h @bloodtest.tlc %>
</p>

<p>
  <b>Neutrophils:</b>
  <%=h @bloodtest.neutrophils %>
</p>

<p>
  <b>Lymphocytes:</b>
  <%=h @bloodtest.lymphocytes %>
</p>

<p>
  <b>Eosinophil:</b>
  <%=h @bloodtest.eosinophil %>
</p>

<p>
  <b>Monocytes:</b>
  <%=h @bloodtest.monocytes %>
</p>

<p>
  <b>Basophils:</b>
  <%=h @bloodtest.basophils %>
</p>

<p>
  <b>Others:</b>
  <%=h @bloodtest.others %>
</p>

<p>
  <b>Esr:</b>
  <%=h @bloodtest.esr %>
</p>

<p>
  <b>Peripheral blood film 1:</b>
  <%=h @bloodtest.peripheral_blood_film_1 %>
</p>

<p>
  <b>Peripheral blood film 2:</b>
  <%=h @bloodtest.peripheral_blood_film_2 %>
</p>

<p>
  <b>Haematocrit pcv:</b>
  <%=h @bloodtest.haematocrit_pcv %>
</p>

<p>
  <b>Total rbc:</b>
  <%=h @bloodtest.total_rbc %>
</p>

<p>
  <b>Platelets:</b>
  <%=h @bloodtest.platelets %>
</p>

<p>
  <b>Colour index:</b>
  <%=h @bloodtest.colour_index %>
</p>

<p>
  <b>Mchc:</b>
  <%=h @bloodtest.mchc %>
</p>

<p>
  <b>Mcv:</b>
  <%=h @bloodtest.mcv %>
</p>

<p>
  <b>Mch:</b>
  <%=h @bloodtest.mch %>
</p>

<p>
  <b>Tec:</b>
  <%=h @bloodtest.tec %>
</p>

<p>
  <b>Vec:</b>
  <%=h @bloodtest.vec %>
</p>

<p>
  <b>Paracytes:</b>
  <%=h @bloodtest.paracytes %>
</p>

<p>
  <b>Blood grouping:</b>
  <%=h @bloodtest.blood_grouping %>
</p>

<p>
  <b>Rh factor:</b>
  <%=h @bloodtest.rh_factor %>
</p>

<p>
  <b>Rh antibody tiler:</b>
  <%=h @bloodtest.rh_antibody_tiler %>
</p>

<p>
  <b>Direct:</b>
  <%=h @bloodtest.direct %>
</p>

<p>
  <b>Indirect:</b>
  <%=h @bloodtest.indirect %>
</p>

<p>
  <b>Plasma fibrinogen:</b>
  <%=h @bloodtest.plasma_fibrinogen %>
</p>

<p>
  <b>Hiv:</b>
  <%=h @bloodtest.hiv %>
</p>

<p>
  <b>Hbsag:</b>
  <%=h @bloodtest.hbsag %>
</p>

<p>
  <b>Widal:</b>
  <%=h @bloodtest.widal %>
</p>

<p>
  <b>Foetal haemoglobin:</b>
  <%=h @bloodtest.foetal_haemoglobin %>
</p>

<p>
  <b>Reticulocytes:</b>
  <%=h @bloodtest.reticulocytes %>
</p>

<p>
  <b>Bleeding time min:</b>
  <%=h @bloodtest.bleeding_time_min %>
</p>

<p>
  <b>Bleeding time sec:</b>
  <%=h @bloodtest.bleeding_time_sec %>
</p>

<p>
  <b>Cloting time min:</b>
  <%=h @bloodtest.cloting_time_min %>
</p>

<p>
  <b>Cloting time sec:</b>
  <%=h @bloodtest.cloting_time_sec %>
</p>

<p>
  <b>Prothrombin time control:</b>
  <%=h @bloodtest.prothrombin_time_control %>
</p>

<p>
  <b>Secs patient 1:</b>
  <%=h @bloodtest.secs_patient_1 %>
</p>

<p>
  <b>Secs patient 2:</b>
  <%=h @bloodtest.secs_patient_2 %>
</p>

<p>
  <b>Pttk control:</b>
  <%=h @bloodtest.pttk_control %>
</p>

<p>
  <b>Haemolysis start from:</b>
  <%=h @bloodtest.haemolysis_start_from %>
</p>

<p>
  <b>Saline complete at:</b>
  <%=h @bloodtest.saline_complete_at %>
</p>

<p>
  <b>Clot retraction time crt:</b>
  <%=h @bloodtest.clot_retraction_time_crt %>
</p>

<p>
  <b>Le cells:</b>
  <%=h @bloodtest.le_cells %>
</p>

<p>
  <b>Esr platelets:</b>
  <%=h @bloodtest.esr_platelets %>
</p>


<%= link_to 'Edit', edit_bloodtest_path(@bloodtest) %> |
<%= link_to 'Back', bloodtests_path %>